<div class="ui basic container segment" data-controller="index-card-content">
  <h1> Index Card </h1>
  <div class="dropdown-container">
    <div class="ui selection dropdown" id='card-dropdown' data-index-card-content-target="columnSet">
      <input type="hidden" name="columns" value="3,three">
      <i class="dropdown icon"></i>
      <div class="default text">Columns</div>
      <div class="menu">
        <% (1..7).each do |cols| %>
          <div data-value="<%= cols %>,<%= number_to_word(cols) %>" class="item"><%= cols %> Columns</div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ui divider"></div>
  <div class="code-index-data" data-index-card-content-target="cards">
    <% @index_cards.each do |card| %>
      <div class="ui container segment">
        <h3><%= card.title %></h3>
        <%= content_tag "pre", card.content %>
      </div>
    <% end %>
  </div>

  <div class="ui three column stackable grid" data-index-card-content-target="grid">
  </div>
</div>

<%= stylesheet_link_tag "code-index-card", "data_turbo_track": "reload" %>